# Python
__pycache__/
*.pyc
*.pyo

# Conda
.env
.envrc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Database
*.db

# Logs
*.log

# VS Code
.vscode/

# Data (keep only small samples if needed)
data/raw/*
!data/raw/.gitkeep
